alias hgrep="history | grep "
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias wtfip="curl https://wtfismyip.com/json"
alias cat="bat"
alias ls="eza -la --header --hyperlink  --icons=always"
alias l="eza -la --header --hyperlink  --icons=always"
